<html>
    <head>
        <title>評価ページ</title>
    </head>
    <body>
        <div>
            <input type="button" value="評価開始" onClick="location.href='{% url 'star_shine1' pk=address.pk %}'">
            <br>
            <p>番号{{ address.pk }}</p>
            <input type="button" value="1" onClick="location.href='{% url 'star_shine1' pk=address.pk %}'">
            <input type="button" value="2" onClick="location.href='{% url 'star_shine2' pk=address.pk %}'">
            <input type="button" value="3" onClick="location.href='{% url 'star_shine3' pk=address.pk %}'">
            <br>
            <p>現在の評価:{{ address.star }}</p>
        </div>
    </body>
</html>